.Normal_text {font-family:'PDF-ArialMT';font-weight:normal;font-style:normal;font-size:10pt;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'PDF-ArialMT';font-weight:normal;font-style:normal;font-size:24pt;text-decoration:none;text-transform: none;color:#FF3333;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-family:'PDF-TimesNewRomanPSMT';font-size:16pt;color:#000000;}
.Heading_3 {font-family:'PDF-TimesNewRomanPS-BoldMT Bold';font-weight:bold;font-size:12pt;color:#1C1C1C;}
