@import url(https://fonts.googleapis.com/css?family=Open+Sans:700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Alex+Brush:regular&subset=latin);
@font-face {font-family: 'Droid Serif';font-weight:normal;font-style:italic;src: url("XaraWDGeneratedHTMLfont1.woff") format("woff"), local('Droid Serif');}
@font-face {font-family: 'Comic Zine';font-weight:bold;font-style:normal;src: url("XaraWDGeneratedHTMLfont2.woff") format("woff"), local('Comic Zine');}
@font-face {font-family: 'Comic Sans MS';font-weight:normal;font-style:normal;src: url("XaraWDGeneratedHTMLfont3.woff") format("woff"), local('Comic Sans MS');}
