@font-face {font-family: 'Arimo';font-weight:normal;font-style:normal;src: url("XaraWDGeneratedHTMLfont3.woff") format("woff");}
@font-face {font-family: 'Arimo';font-weight:bold;font-style:normal;src: url("XaraWDGeneratedHTMLfont4.woff") format("woff");}
@font-face {font-family: 'Arimo';font-weight:bold;font-style:normal;src: url("XaraWDGeneratedHTMLfont5.woff") format("woff");}
