.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:10pt;text-decoration:none;text-transform: none;color:#444444;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Small_text {font-size:8pt;}
.Heading_1 {font-family:'Fjalla One';font-weight:normal;font-style:normal;font-size:20pt;text-decoration:none;text-transform: none;color:#444444;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.TITLE {font-size:24pt;background-color:Transparent;}
.Heading_3_a {font-family:Times New Roman;font-weight:bold;font-style:normal;text-decoration:none;text-transform: none;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-size:16pt;}
.Heading_4 {font-weight:bold;}
.Normal_text_2 {font-family:'Noto Serif';font-weight:normal;font-style:normal;font-size:10pt;text-decoration:none;text-transform: none;color:#444444;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-size:14pt;}
.Quote_text {font-family:'Fjalla One';font-weight:normal;font-style:normal;font-size:14pt;text-decoration:none;text-transform: none;color:#444444;-webkit-text-stroke: 0px black;letter-spacing:0em;}
