.avia-section.av-5h6qhm-cd29a1f692989aaa04a95939e17547d5{
background-color:#ffffff;
background-image:unset;
}

#top .hr.hr-invisible.av-lzvmz209-7e4374b2f5f182a661dccbd2a9dd11d9{
margin-top:-100px;
height:1px;
}

.avia-image-container.av-lzvmwxbs-3337541799ee20cdcef952d3189f5087 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lzvmwxbs-3337541799ee20cdcef952d3189f5087 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-4u0yaa-8f70dcdc2feb51831d7994083a9422a1{
margin-top:-50px;
height:1px;
}

.avia-section.av-1ww6qq-503db0c3f3ef4ecd0a46af9a7bd5c11e{
background-color:#071b43;
background-image:unset;
}

#top .hr.hr-invisible.av-1rk7h6-25ee85c7548663e907fe309553d94d58{
height:30px;
}

#top .hr.hr-invisible.av-175kpu-3fe25fc90c9132853a7ff1fa2b684978{
height:10px;
}

