.Heading_1 {font-family:'Cabin';font-weight:bold;font-style:normal;font-size:27pt;text-decoration:none;text-transform: none;color:#21212B;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-size:21pt;}
.Normal_text {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:15pt;text-decoration:none;text-transform: none;color:#21212B;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.TITLE {font-size:36pt;color:#FFFFFF;}
