.Normal_text {font-family:'Droid Serif';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#333333;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Quote_text {font-style:italic;font-size:24px;color:#A94635;}
.Normal_text_a {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#182129;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Panel_heading_1 {font-weight:bold;font-size:24px;}
.Panel_heading_3 {font-size:16px;}
