.Normal_text {font-family:'Raleway';font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;text-transform: none;color:#1B1B1B;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-weight:300;font-size:56px;color:#DEDEDE;}
.Heading_3 {font-size:16px;}
.Heading_2 {font-size:24px;}
.Normal_text_a {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:20px;text-decoration:none;text-transform: none;color:#182129;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.title {font-weight:bold;font-size:20px;}
