.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:10pt;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Fjalla One';font-weight:normal;font-style:normal;font-size:20pt;text-decoration:none;text-transform: none;color:#616161;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-size:11pt;color:#000000;}
.Heading_2 {font-size:12pt;color:#000000;}
.Small_text {font-size:8pt;}
.Heading_4 {font-weight:bold;}
