.Normal_text {font-family:'Merriweather';font-weight:300;font-style:normal;font-size:12.01pt;text-decoration:none;text-transform: none;color:#444444;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Small_text {font-size:10pt;}
.Heading_1 {font-family:'Ubuntu';font-weight:bold;font-style:normal;font-size:32.01pt;text-decoration:none;text-transform: none;color:#444444;-webkit-text-stroke: 0px black;letter-spacing:0em;}
