.Normal_text {font-family:'Play';font-weight:normal;font-style:normal;font-size:12pt;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_4 {}
.Heading_1 {font-family:'Kelly Slab';font-weight:normal;font-style:normal;font-size:32pt;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-size:16pt;}
.Normal_text_a {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:7.5pt;text-decoration:none;text-transform: none;color:#202123;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Table_text {color:#000000;}
