@font-face {font-family: 'xr1_Noto Sans';font-weight:bold;font-style:normal;src: url("xara_font_1.woff?16") format("woff"), local('xr1_Noto Sans');}
@font-face {font-family: 'Raleway';font-weight:normal;font-style:normal;src: url("xara_font_2.woff?16") format("woff"), local('Raleway');}
