.Normal_text {font-family:'Lato';font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;text-transform: none;color:#1B1B1B;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Text_body {font-size:14.67px;}
