.sv-marketplace-sitevision-toTop #sv-to-top {
  border-radius: 50%;
  bottom: 20px;
  position: fixed;
  text-decoration: none;
  z-index: 9999;
}
.sv-marketplace-sitevision-toTop #sv-to-top svg {
  border-radius: 50%;
  color: #fff;
  margin: 0;
  opacity: 0.6;
  padding: 10px;
  position: relative;
  transition: all 0.6s ease;
}
.sv-marketplace-sitevision-toTop #sv-to-top svg:hover,
.sv-marketplace-sitevision-toTop #sv-to-top svg:active {
  opacity: 1;
}
.sv-marketplace-sitevision-toTop .sv-to-top--right {
  right: 40px;
}
.sv-marketplace-sitevision-toTop .sv-to-top--left {
  left: 40px;
}
.sv-marketplace-sitevision-toTop .sv-to-top-show {
  opacity: 1;
  transition: opacity 400ms;
}
.sv-marketplace-sitevision-toTop .sv-to-top-hide {
  opacity: 0;
  transition: opacity 400ms;
}
