.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:10pt;text-decoration:none;text-transform: none;color:#000000;letter-spacing:0em;}
.Heading_1_a {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:18pt;text-decoration:none;text-transform: none;color:#182129;letter-spacing:0em;}
